.lane-area {
    width: calc(78vw - 60px);
    height: calc(80vh - 60px);
    display: flex;
    margin: 30px;
    overflow: auto;
    white-space: nowrap;
    
    .add-lane {
        height: 60px;
        padding: 30px;
        display: flex;
        align-items: center;
        border: none;
        border-radius: 10px;
        font-size: 20px;
        color: var(--third-color);
        background-color: var(--second-color);
        cursor: pointer;

        &:hover {
            background-color: var(--principal-color);
        }
    }

    @media screen and (max-width: 1635px) {
        width: calc(74vw - 60px);
    }

    @media screen and (max-width: 1380px) {
        width: calc(70vw - 60px);
    }

    @media screen and (max-width: 1200px) {
        width: calc(62vw - 60px);
    }

    @media screen and (max-width: 950px) {
        width: calc(53vw - 60px);
    }
}