.navbar {
    display: flex;
    position: absolute;
    z-index: 2;
    width: 100%;
    background-color: var(--principal-color);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2);
    padding: 10px 0;
    color: var(--third-color);
    justify-content: space-between;

    .menu {
        display: flex;
        list-style-type: none;
    }

    .profile {
        display: flex;
        align-items: center;
        margin-right: 30px;
    }

    @media screen and (max-width: 574px) {
        .menu {
            li {
                margin-right: 20px;
            }
        }
    }

    @media screen and (max-width: 425px) {
        .menu {
            li {
                display: none;
            }
        }

        .profile {
            width: 30px;
        }
    }
}