li {
    margin-right: 50px;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;

    &:hover {
        svg {
            transform: rotate(180deg);
            transition: transform .5s;
        }

        .dropdown-content {
            display: flex;
            flex-direction: column;

            a {
                &:hover {
                    color: var(--principal-color);
                }
            }
        }
    }

    .dropdown-content {
        display: none;
        position: absolute;
        top: 20px;
        z-index: 1;
        width: calc(100% - 10px);
        padding: 10px;
        background-color: var(--second-color);
        border-radius: 0px 0px 10px 10px;

        a {
            margin: 5px 0;
        }
    }

    svg {
        margin-right: 5px;
    }

    a {
        text-decoration: none;
        color: inherit;
    }
}